<div
  class="form-control flex-row"
  *ngFor="let value of values?.slice(0, numShowing)"
>
  <label class="label text">
    <input
      type="checkbox"
      class="checkbox checkbox-sm mr-4"
      [checked]="filterService.has(value.ids, FilterType.FieldAndValue)"
      (click)="onFilterToggle(value.ids)"
    />
    <app-node-link
      [disabled]="true"
      [label]="value.label"
      [url]="!value.label ? value.ids[0] : undefined"
      [suffixStr]="getFilterOptionCountStr(value.filterHitIds.length)"
      [shouldHighlight]="false"
      *ngIf="value.ids"
    >
    </app-node-link>
  </label>
</div>

<button
  class="btn btn-sm btn-neutral mt-2"
  (click)="onShowMoreClicked()"
  *ngIf="hasMoreToShow"
>
  Laad meer resultaten
</button>
