<app-view-container>
  <app-drawer />
  <app-lang-switch class="absolute top-1 right-4" />

  <app-header />

  <app-home-intro *ngIf="shouldShowHomeIntro" />

  <div class="flex-grow-0 p-4 pb-2">
    <div class="flex flex-row items-center">
      <app-search-input class="flex-grow" />
      <!--      <app-view-mode-select class="flex-grow-0 ml-8" />-->
    </div>

    <!--    <app-active-filters />-->
  </div>

  <app-home-intro-below-search *ngIf="shouldShowHomeIntro" />

  <app-details-back-button *ngIf="details.showing.value" class="px-4" />

  <div
    class=""
    [ngClass]="[
      settings.showingFilterPanelOnSide()
        ? 'flex flex-grow overflow-y-hidden flex-col'
        : '',
      Settings.filtering.filterPanelLocation == FilterPanelLocation.Left
        ? 'lg:flex-row'
        : '',
      Settings.filtering.filterPanelLocation == FilterPanelLocation.Right
        ? 'lg:flex-row-reverse'
        : ''
    ]"
  >
    <div
      class="px-4 pt-2"
      *ngIf="Settings.filtering.showFilterPanel"
      [ngClass]="[
        shouldShowHomeIntro || details.showing.value ? 'hidden' : '',
        settings.showingFilterPanelOnSide()
          ? 'w-full lg:w-1/4 lg:overflow-y-auto'
          : ''
      ]"
    >
      <app-filter-options />
    </div>

    <div
      class="p-4 pt-2 overflow-y-scroll flex-grow scroll-smooth"
      [ngClass]="[
        shouldShowHomeIntro ? 'hidden' : '',
        settings.showingFilterPanelOnSide() ? 'w-full lg:w-3/4' : ''
      ]"
      #scrollContainer
    >
      <app-details *ngIf="details.showing.value" />

      <div *ngIf="!details.showing.value">
        <div class="flex flex-row">
          <app-search-hits-counter class="w-1/2 lg:w-3/4" />
          <app-sort-select class="w-1/2 lg:w-1/4 mb-2" />
        </div>

        <!--    TODO: Bring back masonry grid-->
        <!--    <app-nodes-masonry-grid-->
        <!--      [nodes]="search.results.value.nodes"-->
        <!--      *ngIf="viewModes.current.value === ViewMode.Grid"-->
        <!--      class="w-full"-->
        <!--    />-->

        <app-nodes-grid
          [nodes]="search.results.value.nodes"
          *ngIf="viewModes.current.value === ViewMode.Grid"
          class="w-full"
        />

        <ng-container *ngIf="viewModes.current.value === ViewMode.List">
          <ng-container *ngFor="let node of search.results.value?.nodes">
            <app-node [node]="node"></app-node>
          </ng-container>
        </ng-container>
      </div>

      <app-load-more-search-results-button *ngIf="!details.showing.value" />
    </div>
  </div>
</app-view-container>
