<div class="flex flex-col h-screen max-w-[100rem] mx-auto">
  <div class="flex-grow-0 p-4">
    <div class="flex flex-row items-center">
      <app-search-input class="flex-grow" />
      <app-view-mode-select class="flex-grow-0 ml-8" />
    </div>
  </div>

  <div class="p-4 overflow-y-scroll flex-grow" (scroll)="onScroll($event)">
    <app-nodes-masonry-grid
      [nodes]="search.results.getValue().nodes"
      *ngIf="viewModes.current.value === ViewMode.Grid"
      class="w-full"
    />

    <ng-container *ngIf="viewModes.current.value === ViewMode.List">
      <app-node
        *ngFor="let node of search.results.getValue()?.nodes"
        [node]="node"
      ></app-node>
    </ng-container>
  </div>
</div>
