<div class="flex flex-col h-screen max-w-[100rem] mx-auto">
  <div
    class="bg-neutral rounded-b-lg py-3 px-6 text-white w-96 mx-auto mb-8 flex items-center"
  >
    <div>
      <div>Prototype Zoekomgeving</div>
      <div class="font-bold text-2xl">Kasteel Amerongen</div>
    </div>

    <div class="flex-grow">
      <button
        class="btn btn-primary btn-sm rounded-full text-center inline-block w-10 h-10 float-right"
      >
        <span class="relative bottom-[0.1rem] text-2xl font-light">?</span>
      </button>
    </div>
  </div>

  <div class="flex-grow-0 p-4 pb-0">
    <div class="flex flex-row items-center">
      <app-search-input class="flex-grow" />
      <!--      <app-view-mode-select class="flex-grow-0 ml-8" />-->
    </div>

    <app-active-filters />
  </div>

  <div class="p-4 overflow-y-scroll flex-grow" (scroll)="onScroll($event)">
    <div class="w-full" *ngIf="Settings.filtering.showFilterPanel">
      <div class="sticky top-0">
        <app-filter-options />
      </div>
    </div>

    <div>
      <p class="text-xl mb-4 font-bold">
        <span *ngIf="search.isLoading.value" class="loading loading-spinner">
        </span>
        <span *ngIf="!search.isLoading.value">{{ numberOfHitsStr }}</span>
      </p>
      <!--    TODO: Bring back masonry grid-->
      <!--    <app-nodes-masonry-grid-->
      <!--      [nodes]="search.results.value.nodes"-->
      <!--      *ngIf="viewModes.current.value === ViewMode.Grid"-->
      <!--      class="w-full"-->
      <!--    />-->

      <app-nodes-grid
        [nodes]="search.results.value.nodes"
        *ngIf="viewModes.current.value === ViewMode.Grid"
        class="w-full"
      />

      <ng-container *ngIf="viewModes.current.value === ViewMode.List">
        <app-node
          *ngFor="let node of search.results.value?.nodes"
          [node]="node"
        ></app-node>
      </ng-container>
    </div>
  </div>
</div>
