<ng-container *ngIf="typeCounts">
  <div
    *ngFor="let typeCount of typeCountsList"
    class="btn btn-neutral btn-xs gap-1 mr-1"
    [ngClass]="
      search.hasFilter(
        'http://www w3 org/1999/02/22-rdf-syntax-ns#type.keyword',
        typeCount.typeDetails['@id']
      )
        ? 'btn-primary'
        : 'btn-ghost'
    "
    (click)="
      search.toggleFilter(
        'http://www w3 org/1999/02/22-rdf-syntax-ns#type.keyword',
        typeCount.typeDetails['@id']
      )
    "
  >
    <app-node-link
      [url]="typeCount.typeDetails['@id']"
      [label]="typeCount.typeDetails.label"
      [disabled]="true"
    />
    <span>({{ typeCount.count }})</span>
  </div>
</ng-container>
