<li *ngIf="autocomplete.isLoading">
  <p class="loading loading-sm loading-spinner p-0"></p>
</li>

<ng-container *ngIf="!autocomplete.isLoading">
  <div *ngIf="autocomplete.hasOptionsOfType(AutocompleteOptionType.SearchTerm)">
    <div class="divider">
      <span> Zoektermen</span>
    </div>
    <li
      *ngFor="
        let autocompleteResult of autocomplete.getOptionsByType(
          AutoCompleteOptionType.SearchTerm
        )
      "
    >
      <button (click)="selected.emit(autocompleteResult)">
        <ng-icon [svg]="featherSearch" class="mr-2" />
        {{ autocompleteResult.labels[0] }}
      </button>
    </li>
  </div>

  <div *ngIf="autocomplete.hasOptionsOfType(AutocompleteOptionType.Node)">
    <div class="divider">Zoekresultaten</div>
    <li
      *ngFor="
        let autocompleteResult of autocomplete.getOptionsByType(
          AutoCompleteOptionType.Node
        )
      "
    >
      <button (click)="selected.emit(autocompleteResult)">
        <ng-icon [svg]="featherArrowRight" class="mr-2" />
        {{ autocompleteResult.labels[0] }}
      </button>
    </li>
  </div>
</ng-container>
