<p class="text-center mt-12 text-base sm:text-lg sm:w-3/4 px-2 mx-auto">
  Hier zoek je binnen de gecombineerde archieven van
  <span class="font-bold">Het Utrechts Archief</span>,
  <span class="font-bold">Kasteel Amerongen</span> en
  <span class="font-bold">Regionaal Archief Zuid-Utrecht</span>
</p>

<div class="mx-auto text-center my-6">
  <div
    class="rounded-full bg-black h-6 w-6 text-lg text-white text-center mx-auto"
  >
    <span class="relative bottom-[0.15rem]">?</span>
  </div>
  <button class="underline" (click)="router.navigateByUrl('colofon')">
    Meer info
  </button>
</div>
