<p class="text-center mt-12 text-base sm:text-lg sm:w-3/4 px-2 mx-auto">
  <span [innerHTML]="'search-in-combined-archives-of' | translate"></span>
  <span>&nbsp;</span>
  <span class="font-bold">{{ "hua" | translate }}</span
  >,
  <span class="font-bold" [innerHTML]="'castle-amerongen' | translate"></span>
  {{ "and" | translate }}
  <span class="font-bold">{{ "razu" | translate }}</span>
</p>

<div class="mx-auto text-center my-6">
  <div
    class="rounded-full bg-black h-6 w-6 text-lg text-white text-center mx-auto"
  >
    <span class="relative bottom-[0.15rem]">?</span>
  </div>
  <button class="underline" (click)="router.navigateByUrl('colofon')">
    {{ "more-info" | translate }}
  </button>
</div>
