<div class="w-full" *ngIf="!loading && fileUrls.length > 0">
  <div *ngFor="let url of fileUrls" class="mb-4">
    <app-node-images
      *ngIf="isImageUrl(url)"
      [imageUrls]="[url]"
    ></app-node-images>

    <app-doc-viewer
      *ngIf="!isImageUrl(url)"
      [url]="url"
      class="h-64"
    ></app-doc-viewer>

    <a
      [href]="url"
      target="_blank"
      class="clickable"
      *ngIf="hopSettings?.showOriginalLink"
      >{{ url }}</a
    >
  </div>
</div>

<!-- <app-node-link [url]="url" *ngIf="hopSettings?.showOriginalLink" /> -->
<span class="loading loading-spinner loading-xs" *ngIf="loading"></span>
