<div class="card w-full bg-base-100 shadow-xl mb-4">
  <div class="card-body">
    <app-node-hierarchy [nodes]="parents" />

    <div class="card-title">
      <p>{{ nodes.getObj(node, Settings.predicates.title) }}</p>
    </div>

    <app-node-types [typeIds]="types" class="mb-4" />

    <app-node-images
      [images]="nodes.getObjAsArray(node, Settings.predicates.images)"
    />

    <table class="table" *ngIf="node">
      <tbody>
        <ng-container *ngFor="let nodeItem of node | keyvalue">
          <tr *ngIf="!Settings.hidePredicates.includes(nodeItem.key)">
            <td>{{ replacePrefixes(nodeItem.key) }}</td>
            <td>
              <div
                *ngFor="
                  let value of replacePrefixesArray(
                    nodeObjAsArray(nodeItem.value)
                  )
                "
              >
                {{ value }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
