<div class="card w-full bg-base-100 shadow-xl mb-4">
  <div class="card-body">
    <app-node-hierarchy [nodes]="parents" />

    <div class="card-title">
      <a [href]="node?.['@id']" target="_blank" class="hover:underline">{{
        nodes.getObj(node, Settings.predicates.title)
      }}</a>
    </div>

    <app-node-types [typeIds]="types" />

    <app-node-images
      [images]="nodes.getObjAsArray(node, Settings.predicates.images)"
    />

    <app-node-view-renderer [node]="node" />
  </div>
</div>
