<div class="card w-full bg-base-100 shadow-xl mb-4">
  <div class="card-body">
    <app-node-hierarchy [nodes]="parents" />

    <div class="card-title">
      <app-node-link
        [url]="node?.['@id']"
        [label]="nodes.getObjAsArray(node, Settings.predicates.title).join(' ')"
      />
    </div>

    <app-node-types [typeIds]="types" />

    <app-node-images
      [images]="nodes.getObjAsArray(node, Settings.predicates.images)"
    />

    <app-node-view-renderer [node]="node" />
  </div>
</div>
