<app-view-container>
  <app-header [view]="HeaderView.ShowingColofon" />

  <div class="p-8 pt-2 overflow-y-auto h-full">
    <h2>Zoeken met Linked Open Data</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu.
    </p>

    <h2>Kasteel Amerongen</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu.
    </p>

    <h2>Initiatiefnemers</h2>
    <p>
      <a href="https://hetutrechtsarchief.nl/" target="_blank"
        >Het Utrechts Archief</a
      >
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu.
    </p>
    <p>
      <a href="https://razu.nl/" target="_blank"
        >Regionaal Archief Zuid-Utrecht</a
      >
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu.
    </p>
    <p>
      <a href="https://www.kasteelamerongen.nl/" target="_blank"
        >Kasteel Amerongen</a
      >
      Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
      quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
      interdum eu.
    </p>

    <h2>Contact</h2>
    <p>
      Lorem ipsum dolor sit amet
      <a href="mailto:email@email.email" target="_blank"
        >email&#64;email.email</a
      >.
    </p>
  </div>
</app-view-container>
