<app-view-container>
  <app-header [view]="HeaderView.ShowingColofon" />

  <div class="p-8 pt-2 overflow-y-auto h-full">
    <h2>Zoeken met Linked Open Data</h2>
    <p>
      De collecties van Het Utrechts Archief, Kasteel Amerongen en het Regionaal
      Archief Zuid-Utrecht zijn dankzij Linked Open Data gezamenlijk
      doorzoekbaar op deze website.
    </p>

    <h2>Kasteel Amerongen</h2>
    <p>
      Kasteel Amerongen heeft een rijke geschiedenis die meer dan zeven eeuwen
      teruggaat. Rampen, oorlogen en familietwisten braken het kasteel soms
      letterlijk af, maar altijd herrees het weer glorieus uit haar eigen as. Op
      deze experimentele website ontdek je de geschiedenis van het kasteel en
      haar bewoners aan de hand van bronnen uit de collecties van Het Utrechts
      Archief, Kasteel Amerongen en het Regionaal Archief Zuid-Utrecht.
    </p>

    <h2>Initiatiefnemers</h2>
    <div>
      <p>
        Deze experimentele website wordt mede mogelijk gemaakt door
        <a href="https://netwerkdigitaalerfgoed.nl/" target="_blank"
          >Netwerk Digitaal Erfgoed</a
        >
        (NDE) en is een initiatief van:
      </p>

      <ul class="list-disc ml-8 mb-2">
        <li>
          <a href="https://hetutrechtsarchief.nl/" target="_blank"
            >Het Utrechts Archief</a
          >
        </li>
        <li>
          <a href="https://www.kasteelamerongen.nl/" target="_blank"
            >Kasteel Amerongen</a
          >
        </li>
        <li>
          <a href="https://www.razu.nl/" target="_blank"
            >Regionaal Archief Zuid-Utrecht</a
          >
        </li>
      </ul>

      <p>
        De website is ontwikkeld door
        <a href="https://simondirks.com" target="_blank">Simon Dirks</a>
        en ontworpen door
        <a href="http://quintenswagerman.nl/" target="_blank"
          >Quinten Swagerman</a
        >
        in samenwerking met- en opdracht van de deelnemende instellingen.
      </p>
    </div>

    <h2>Open Source</h2>
    <p>
      De code is open source beschikbaar op
      <a href="https://github.com/Simon-Dirks/view-a-LOD" target="_blank"
        >GitHub</a
      >
      (GPL-3.0).
    </p>
  </div>
</app-view-container>
