<div class="card w-full rounded-lg bg-base-100 border mb-4" *ngIf="node">
  <div class="card-body">
    <div class="card-title text-lg" *ngIf="showTitle">
      <app-node-link [url]="id" [label]="title" />
    </div>

    <app-node-hierarchy [nodes]="parents" *ngIf="showParents" />

    <app-node-types [types]="types" *ngIf="showTypes" />

    <app-node-images
      [images]="images"
      [width]="Settings.largeImagePercentageWidthOfContainer + '%'"
      *ngIf="showLargeImages && images && images.length > 0"
      class="mt-4"
    />

    <app-node-renderer [node]="node" />
  </div>
</div>
