<div
  class="w-full bg-base-100 border mb-4"
  *ngIf="node"
  [ngClass]="[
    shouldShowImageNextToTable() ? 'p-0 flex flex-col sm:flex-row' : 'p-6'
  ]"
  [attr.data-scroll-id]="encodeURIComponent(nodes.getId(node))"
>
  <a
    *ngIf="shouldShowImageNextToTable()"
    [routerLink]="details.getLink(node)"
    class="inline-block h-48 sm:h-auto"
    [ngClass]="[details.showing.value ? 'cursor-default' : '']"
    [style.width]="imageWidth"
    [style.min-width]="imageWidth"
  >
    <app-node-images
      [imageUrls]="images"
      [shownInTableCell]="false"
      [useViewer]="this.details.showing.value"
    />
  </a>

  <div
    [ngClass]="shouldShowImageNextToTable() ? 'p-6' : 'p-0'"
    class="flex-grow relative"
  >
    <div class="text-lg mr-6 font-bold" *ngIf="showTitle">
      <app-node-link [url]="details.getLink(node)" [label]="title" />
    </div>

    <div class="w-full sm:px-4 sm:pr-32">
      <app-node-table-row
        [label]="'Onderdeel van'"
        *ngIf="showParents && parents.length > 0"
      >
        <app-node-hierarchy [nodes]="parents" />
      </app-node-table-row>

      <!-- TODO: Check if there any clustered types to show here (especially if only showing clustered types) -->
      <app-node-table-row
        [label]="'Soort'"
        *ngIf="showTypes && types.length > 0"
      >
        <app-node-types [types]="types" />
      </app-node-table-row>
      <app-node-table-row [label]="'Organisatie'" *ngIf="details.showing.value">
        <app-node-endpoint [endpointId]="nodes.getEndpointId(node)" />
      </app-node-table-row>
    </div>

    <app-node-renderer [node]="node" />

    <div class="mt-8 font-mono text-sm" *ngIf="details.showing.value">
      <app-node-permalink-button [node]="node" />
    </div>

    <div
      class="absolute"
      [ngClass]="[
        shouldShowImageNextToTable() ? 'right-6 bottom-6' : 'right-0 bottom-0'
      ]"
    >
      <app-node-details-button [node]="node" />
    </div>
  </div>
</div>
