<!--<p>Filters: {{ filters.enabled.value | json }}</p>-->
<!--<div-->
<!--  class="form-control w-[12rem] opacity-25 hover:opacity-90 transition-opacity"-->
<!--&gt;-->
<!--  <label class="label cursor-pointer">-->
<!--    <input-->
<!--      type="checkbox"-->
<!--      class="toggle toggle-sm"-->
<!--      [checked]="isShown"-->
<!--      [(ngModel)]="isShown"-->
<!--    />-->
<!--    <span class="label-text">Toon debug filter info</span>-->
<!--  </label>-->
<!--</div>-->

<div class="mt-2 max-h-16 overflow-y-scroll fade-bottom pb-2" *ngIf="isShown">
  <div
    *ngFor="let filter of filters.enabled.value"
    class="badge badge-primary gap-1 mr-1"
  >
    <app-node-link
      [url]="filter?.fieldId"
      [allowLabelExpand]="false"
      *ngIf="
        filter.type === FilterType.Field ||
        filter.type === FilterType.FieldAndValue
      "
    >
      <!--      <span class="opacity-70">Veld </span>-->
    </app-node-link>
    <app-node-link
      [url]="filter.valueId"
      [allowLabelExpand]="false"
      *ngIf="
        filter.type === FilterType.Value ||
        filter.type === FilterType.FieldAndValue
      "
    >
      <span class="opacity-70" *ngIf="filter.type === FilterType.Value"
        >Verwijzing naar
      </span>
      <span class="opacity-70" *ngIf="filter.type === FilterType.FieldAndValue"
        >verwijst naar
      </span>
    </app-node-link>
  </div>
</div>
