.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 10px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-button-prev,
.swiper-button-next {
  color: theme("colors.neutral");
}

.swiper-pagination-bullet-active {
  background: theme("colors.primary");
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: theme("colors.primary");
}
