.viewer-small-ui {
  height: 12rem;

  & .openseadragon-container img {
    height: 25px;
  }

  & .referencestrip:focus-visible {
    outline: none;
  }
}

:host ::ng-deep #mirador {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
