<div
  class="w-full h-full overflow-y-scroll min-h-24"
  #viewerElem
  *ngIf="useViewer"
></div>

<div class="relative">
  <swiper-container *ngIf="!useViewer" init="false" #swiperContainer>
    <swiper-slide
      *ngFor="let image of processedImageUrls?.slice(0, Config.maxImagesToShow)"
    >
      <img
        [src]="image"
        alt="Object image"
        class="w-full h-full object-cover"
        (error)="onImageLoadError($event)"
        *ngIf="image"
      />
    </swiper-slide>
  </swiper-container>

  <div class="swiper-button-prev"></div>

  <div class="swiper-button-next"></div>

  <div class="swiper-pagination"></div>
</div>
