<div class="w-full carousel mt-2">
  <div *ngFor="let imgUrl of imageUrls" class="carousel-item">
    <!--    TODO: Add alt-->
    <img
      [src]="imgUrl"
      [alt]="imgUrl"
      class="w-full object-contain rounded-lg"
    />
  </div>
</div>

<div class="w-full">
  <!--  {{ node | json }}-->

  <!--  TODO: Show direction here? -->
  <app-node-link
    [url]="commentId"
    *ngFor="
      let commentId of nodes.getObjValues(node, ['https://schema.org/comment'])
    "
    [shouldTruncate]="false"
  />
</div>

<!-- TODO: Bring back, causes generic type error for some reason -->
<!--<app-node-table-view [node]="node" class="opacity-50" />-->
