<table class="table" [ngClass]="[smallFontSize ? 'text-xs' : '']" *ngIf="node">
  <tbody>
    <ng-container *ngFor="let pred of Object.keys(node)">
      <ng-container
        *ngFor="let direction of [Direction.Incoming, Direction.Outgoing]"
      >
        <tr
          *ngIf="
            getVisibility(pred) === visibility &&
            nodes.getObjValuesByDirection(node, [pred], direction).length > 0
          "
        >
          <td class="w-1/2">
            <app-node-link
              [url]="pred"
              *ngIf="direction === Direction.Outgoing"
            />

            <ng-container *ngIf="direction === Direction.Incoming">
              <div
                *ngFor="
                  let objValue of nodes.getObjValuesByDirection(
                    node,
                    [pred],
                    direction
                  )
                "
              >
                <ng-icon
                  name="featherArrowUpLeft"
                  *ngIf="direction === Direction.Incoming"
                  class="opacity-40"
                />

                <app-node-link [url]="objValue" />
              </div>
            </ng-container>
          </td>
          <td class="w-1/2">
            <ng-container *ngIf="direction === Direction.Outgoing">
              <div
                *ngFor="
                  let objValue of nodes.getObjValuesByDirection(
                    node,
                    [pred],
                    direction
                  )
                "
              >
                <app-node-link [url]="objValue" />
              </div>
            </ng-container>

            <app-node-link
              [url]="pred"
              *ngIf="direction === Direction.Incoming"
            />
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
