<table class="table" [ngClass]="[smallFontSize ? 'text-xs' : '']" *ngIf="node">
  <tbody>
    <ng-container *ngFor="let pred of Object.keys(node)">
      <ng-container
        *ngFor="let direction of [Direction.Incoming, Direction.Outgoing]"
      >
        <tr
          *ngIf="
            getVisibility(pred) === visibility &&
            nodes.getObjValuesByDirection(node, [pred], direction).length > 0
          "
        >
          <td class="w-1/2">
            <app-node-table-cell
              [node]="node"
              [direction]="direction"
              [pred]="pred"
              [show]="
                direction === Direction.Incoming
                  ? TableCellShowOptions.Obj
                  : TableCellShowOptions.Pred
              "
            />
          </td>
          <td class="w-1/2">
            <app-node-table-cell
              [node]="node"
              [direction]="direction"
              [pred]="pred"
              [show]="
                direction === Direction.Incoming
                  ? TableCellShowOptions.Pred
                  : TableCellShowOptions.Obj
              "
            />
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
