<ng-container>
  <float-ui-content #popupContent>
    <a class="btn btn-sm mr-2" [href]="url" target="_blank">
      <ng-icon [svg]="featherExternalLink" /> Open link
    </a>
    <button
      class="btn btn-sm"
      (click)="onToggleFilterClicked($event)"
      *ngIf="url"
    >
      <ng-icon [svg]="filters.has(url) ? featherX : featherFilter" />
      {{ filters.has(url) ? "Remove filter" : "Add filter" }}
    </button>
  </float-ui-content>

  <div class="inline-block">
    <ng-content></ng-content>

    <div
      class="inline"
      [ngClass]="[isClickableUrl ? 'cursor-pointer' : '']"
      [floatUi]="popupContent"
      [disabled]="!isClickableUrl"
      [hideOnClickOutside]="true"
      [showOnStart]="false"
      [showTrigger]="NgxFloatUiTriggers.click"
      [placement]="NgxFloatUiPlacements.TOP"
      [positionFixed]="true"
    >
      <a
        [href]="url"
        target="_blank'"
        (click)="preventDefault($event)"
        *ngIf="isClickableUrl"
      >
        <app-node-label
          [label]="cachedLabel ?? url"
          [shouldTruncate]="shouldTruncate"
          [allowLabelExpand]="allowLabelExpand"
        />
      </a>

      <span *ngIf="!isClickableUrl">
        <app-node-label
          [label]="cachedLabel ?? url"
          [shouldTruncate]="shouldTruncate"
          [allowLabelExpand]="allowLabelExpand"
        />
      </span>
    </div>
  </div>

  <!--  <button class="btn btn-link btn-xs text-black" *ngIf="clickToFilter">-->
  <!--    <ng-icon [svg]="featherPlus" />-->
  <!--  </button>-->
</ng-container>
