<ng-container>
  <!-- class="inline" -->
  <float-ui-content #popupContent class="hidden">
    <a class="btn btn-sm mr-2 !font-sans" [href]="processedUrl" target="_blank">
      <ng-icon [svg]="featherExternalLink" /> Open link
    </a>

    <a
      class="btn btn-sm mr-2 !font-sans"
      [routerLink]="['']"
      [queryParams]="{ q: wrapWithDoubleQuotes(processedUrl) }"
      target="_blank"
    >
      <ng-icon [svg]="featherSearch" /> Search
    </a>

    <div *ngIf="true">
      <!-- Temporary switch to hide the drawer button, which is still in development-->
      <a class="btn btn-sm mr-2 !font-sans" (click)="openDrawer(processedUrl)">
        <ng-icon [svg]="featherMaximize2" /> Open
      </a>
    </div>
    <!--    TODO: Depending on where this is presented, determine if the filter should be field or value-->
    <!--    <button-->
    <!--      class="btn btn-sm"-->
    <!--      (click)="onToggleFilterClicked($event, FilterType.Value)"-->
    <!--      [disabled]="true"-->
    <!--      *ngIf="processedUrl"-->
    <!--    >-->
    <!--      <ng-icon-->
    <!--        [svg]="filters.has([processedUrl], FilterType.Value) ? featherX : featherFilter"-->
    <!--      />-->
    <!--      {{-->
    <!--        filters.has([processedUrl], FilterType.Value)-->
    <!--          ? "[TODO] Remove filter"-->
    <!--          : "[TODO] Add filter"-->
    <!--      }}-->
    <!--    </button>-->
  </float-ui-content>

  <div class="inline" #linkElem>
    <ng-content></ng-content>

    <!--    <div-->
    <!--      class="inline"-->
    <!--      [ngClass]="[isClickableUrl ? 'clickable' : '']"-->
    <!--      [floatUi]="popupContent"-->
    <!--      [disabled]="!isClickableUrl"-->
    <!--      [hideOnClickOutside]="true"-->
    <!--      [showOnStart]="false"-->
    <!--      [showTrigger]="NgxFloatUiTriggers.click"-->
    <!--      [placement]="NgxFloatUiPlacements.TOP"-->
    <!--      [positionFixed]="true"-->
    <!--    >-->
    <div class="inline">
      <!--  TODO: If clicked is observed (and perhaps the event is canceled), remove the href or use a button instead?  -->
      <ng-container *ngIf="clicked.observed || isClickableUrl">
        <!-- External URL -->
        <a
          *ngIf="!isInternalUrl"
          [href]="processedUrl"
          target="_blank"
          (click)="onUrlClicked($event)"
          class="clickable"
        >
          <app-node-label
            [label]="cachedLabel ?? processedUrl"
            [shouldTruncate]="shouldTruncate"
            [allowLabelExpand]="allowLabelExpand"
            [highlightStr]="shouldHighlight ? search.queryStr : undefined"
          />
        </a>

        <!-- Internal URL -->
        <a *ngIf="isInternalUrl" [routerLink]="processedUrl" class="clickable">
          <app-node-label
            [label]="cachedLabel ?? processedUrl"
            [shouldTruncate]="shouldTruncate"
            [allowLabelExpand]="allowLabelExpand"
            [highlightStr]="shouldHighlight ? search.queryStr : undefined"
            (click)="onUrlClicked($event); onInternalUrlClicked()"
          />
        </a>
      </ng-container>

      <span *ngIf="!clicked.observed && !isClickableUrl">
        <app-node-label
          [label]="cachedLabel ?? processedUrl"
          [shouldTruncate]="shouldTruncate"
          [allowLabelExpand]="allowLabelExpand"
          [highlightStr]="shouldHighlight ? search.queryStr : undefined"
        />
      </span>
    </div>

    <span *ngIf="suffixStr">{{ suffixStr }}</span>
  </div>
</ng-container>
