<label class="flex input input-bordered items-center gap-2 rounded-full">
  <input
    type="text"
    class="grow"
    placeholder="Zoeken"
    value="{{ search.queryStr }}"
    (input)="onSearchInputChange($event)"
  />

  <button
    class="btn btn-primary btn-sm rounded-full text-white"
    [disabled]="!search.queryStr"
  >
    <img
      [src]="
        !search.queryStr
          ? 'assets/icons/search-black.svg'
          : 'assets/icons/search.svg'
      "
      alt="Zoek icoon"
      class="h-4"
      [ngClass]="[!search.queryStr ? 'opacity-15' : '']"
    />
    <!--    <ng-icon [svg]="featherSearch" />-->
    <span>Zoek</span>
  </button>

  <!--  <span-->
  <!--    class="loading loading-spinner loading-xs opacity-70"-->
  <!--    *ngIf="search.isLoading.value"-->
  <!--  ></span>-->
  <!--  <ng-icon-->
  <!--    [svg]="featherSearch"-->
  <!--    class="opacity-70"-->
  <!--    *ngIf="!search.isLoading.value"-->
  <!--  />-->
</label>
