<label class="flex input input-bordered items-center gap-2 rounded-full">
  <input
    type="text"
    class="grow"
    placeholder="Zoeken"
    value="{{ search.queryStr }}"
    [(ngModel)]="searchInput"
    (keyup.enter)="onSearch()"
  />

  <button
    class="btn btn-primary btn-sm rounded-full text-white"
    [disabled]="search.isLoading.value"
    (click)="onSearch()"
  >
    <span
      class="loading loading-spinner loading-xs opacity-70"
      *ngIf="search.isLoading.value"
    ></span>

    <img
      src="assets/icons/search.svg"
      alt="Zoek icoon"
      class="h-4"
      *ngIf="!search.isLoading.value"
    />
    <!--    <ng-icon [svg]="featherSearch" />-->
    <span>Zoek</span>
  </button>

  <!--  <ng-icon-->
  <!--    [svg]="featherSearch"-->
  <!--    class="opacity-70"-->
  <!--    *ngIf="!search.isLoading.value"-->
  <!--  />-->
</label>
