<div *ngIf="filters.options.value" class="sticky top-0">
  <div class="join join-vertical w-full">
    <ng-container *ngFor="let filterId of Object.keys(filters.options.value)">
      <div
        class="collapse collapse-arrow join-item bg-base-100 border"
        *ngIf="filters.getOptionById(filterId).valueIds.length > 0"
      >
        <input type="checkbox" name="filter-accordion" />
        <div class="collapse-title font-medium">
          {{ filters.getOptionById(filterId).label }}
        </div>

        <div
          class="collapse-content max-h-48 overflow-y-scroll overflow-x-hidden"
        >
          <app-filter-option
            [valueIds]="filters.getOptionById(filterId).valueIds"
            [fieldIds]="filters.getOptionById(filterId).fieldIds"
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>
