<div *ngIf="filters.options.value" class="sticky top-0">
  <div class="join join-vertical w-full">
    <div
      class="collapse collapse-arrow join-item bg-base-100 border"
      *ngFor="let filterId of Object.keys(filters.options.value)"
    >
      <input type="checkbox" name="filter-accordion" />
      <div class="collapse-title font-medium">
        {{ filters.getOptionById(filterId).label }}
      </div>

      <div class="collapse-content">
        <app-filter-option
          [valueIds]="filters.getOptionById(filterId).valueIds"
          [fieldIds]="filters.getOptionById(filterId).fieldIds"
        />
      </div>
    </div>
  </div>
</div>
