<div class="w-full carousel mt-2">
  <div *ngFor="let imgUrl of imageUrls" class="carousel-item">
    <!--    TODO: Add alt-->
    <img
      [src]="imgUrl"
      [alt]="imgUrl"
      class="w-full object-contain rounded-lg"
    />
  </div>
</div>

<div class="w-full">
  <!--  {{ node | json }}-->

  <!--  TODO: Show direction here? -->
  <p class="mt-2" *ngIf="commentIds && commentIds.length > 0">Opmerking:</p>
  <div *ngFor="let id of commentIds">
    <app-node-link [url]="id" [shouldTruncate]="false"> </app-node-link>
  </div>

  <p class="mt-2" *ngIf="dates && dates.length > 0">Tijdsperiode:</p>
  <div *ngFor="let id of dates">
    <app-node-link [url]="id" [shouldTruncate]="false"> </app-node-link>
  </div>

  <p class="mt-2" *ngIf="creators && creators.length > 0">Maker:</p>
  <div *ngFor="let id of creators">
    <app-node-link [url]="id" [shouldTruncate]="false"></app-node-link>
  </div>
</div>

<!-- TODO: Bring back, causes generic type error for some reason -->
<!--<app-node-table-view [node]="node" class="opacity-50" />-->
