<div class="collapse collapse-arrow join-item bg-primary text-white border">
  <input
    type="checkbox"
    name="filter-accordion"
    [(ngModel)]="ui.accordionExpandedStates['endpoints']"
  />
  <div class="collapse-title">
    <span>Organisaties</span>
    <app-filter-count
      [count]="
        filters.getEnabledFiltersCountStr(endpoints.enabledIds.value.length)
      "
    />
  </div>

  <div class="collapse-content max-h-48 overflow-y-scroll overflow-x-hidden">
    <div
      class="form-control flex-row"
      *ngFor="let endpointId of Object.keys(Settings.endpoints)"
    >
      <label class="label text">
        <input
          type="checkbox"
          class="checkbox checkbox-sm mr-4"
          [checked]="endpoints.isEnabled(endpointId)"
          (click)="endpoints.toggle(endpointId)"
        />
        {{ endpoints.getById(endpointId)?.label }}
      </label>
    </div>
  </div>
</div>
