<div class="form-control flex-row" *ngFor="let value of values">
  <label class="label text">
    <input
      type="checkbox"
      class="checkbox checkbox-sm mr-4"
      [checked]="filterService.has(value.ids, FilterType.FieldAndValue)"
      (click)="onFilterToggle(value.ids)"
    />
    <app-node-link
      [disabled]="true"
      [label]="value.label"
      [url]="!value.label ? value.ids[0] : undefined"
      [suffixStr]="' (' + value.count.toString() + ')'"
      *ngIf="value.ids"
    >
    </app-node-link>
  </label>
</div>
