<ng-container *ngIf="node">
  <div
    class="mt-6"
    *ngIf="
      direction === Direction.Incoming &&
      hasPredsToShow(Direction.Incoming, visibility)
    "
  >
    <span [ngClass]="[smallFontSize ? 'text-sm' : '']"
      >Objecten die verwijzen naar <app-node-link [url]="nodes.getId(node)"
    /></span>
  </div>

  <div class="break-all" [ngClass]="[smallFontSize ? 'text-xs' : '']">
    <ng-container *ngFor="let pred of nodePreds">
      <div
        class="sm:flex sm:gap-4 sm:px-4 my-4 sm:my-2"
        *ngIf="
          predicateVisibilities[pred] === visibility &&
          getNumPredValues(pred, direction) > 0
        "
      >
        <div class="w-full sm:w-1/3">
          <app-node-table-cell
            [node]="node"
            [direction]="direction"
            [pred]="pred"
            [show]="
              direction === Direction.Incoming
                ? TableCellShowOptions.Obj
                : TableCellShowOptions.Pred
            "
          />
        </div>
        <td class="w-full sm:w-2/3">
          <app-node-table-cell
            [node]="node"
            [direction]="direction"
            [pred]="pred"
            [show]="
              direction === Direction.Incoming
                ? TableCellShowOptions.Pred
                : TableCellShowOptions.Obj
            "
          />
        </td>
      </div>
    </ng-container>
  </div>
</ng-container>
