<ng-container *ngIf="node && pred">
  <app-node-link [url]="pred" *ngIf="show === TableCellShowOptions.Pred" />

  <ng-container *ngIf="show === TableCellShowOptions.Obj">
    <app-node-images
      [imageUrls]="images"
      *ngIf="shouldRenderComponentIds.includes('node-images')"
    />

    <!-- TODO: Retrieve and pass coordinates -->
    <app-map-thumb *ngIf="shouldRenderComponentIds.includes('map-thumb')">
    </app-map-thumb>

    <ng-container>
      <div *ngFor="let objValue of objValuesToShow">
        <div
          class="mt-1"
          *ngIf="shouldRenderComponentIds.includes('node-type')"
        >
          <app-node-type [type]="{ id: objValue }"> </app-node-type>
        </div>

        <app-hop-image
          *ngIf="shouldRenderComponentIds.includes('hop-image')"
          [id]="objValue"
          [settings]="
            renderComponent.getSettingByKey(
              'hopLinkSettings',
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        />

        <app-hop-link
          *ngIf="shouldRenderComponentIds.includes('hop-link')"
          [id]="objValue"
          [settings]="
            renderComponent.getSettingByKey(
              'hopLinkSettings',
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        />

        <app-mdto-dekking-in-tijd
          *ngIf="shouldRenderComponentIds.includes('mdto-dekking-in-tijd')"
          [id]="objValue"
        />

        <app-file-renderer
          *ngIf="shouldRenderComponentIds.includes('file-renderer')"
          [url]="objValue"
          [hopSettings]="
            renderComponent.getSettingByKey(
              'hopLinkSettings',
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        />

        <app-mdto-url-bestand
          *ngIf="shouldRenderComponentIds.includes('mdto-url-bestand')"
          [nodeId]="nodes.getId(node)"
          [fileUrl]="objValue"
        />

        <app-mdto-omvang
          *ngIf="shouldRenderComponentIds.includes('mdto-omvang')"
          [bytesStr]="objValue"
        />

        <app-rico-identifier
          *ngIf="shouldRenderComponentIds.includes('rico-identifier')"
          [id]="objValue"
        />

        <app-node-link [url]="objValue" *ngIf="!renderComponentIsDefined">
          <ng-icon
            [svg]="featherArrowUpLeft"
            class="opacity-40"
            *ngIf="isIncoming"
          />
        </app-node-link>
      </div>

      <button
        class="btn btn-xs btn-primary mt-2"
        (click)="loadMoreObjValues()"
        *ngIf="numObjValuesNotShown > 0"
      >
        {{ showMoreLabel }}
      </button>
    </ng-container>
  </ng-container>
</ng-container>
