<ng-container *ngIf="node && pred">
  <app-node-link [url]="pred" *ngIf="show === TableCellShowOptions.Pred" />

  <ng-container *ngIf="show === TableCellShowOptions.Obj">
    <app-node-images
      [images]="nodes.getObjValues(node, Settings.predicates.images)"
      *ngIf="shouldRenderComponent('node-images', pred)"
    />

    <!-- TODO: Retrieve and pass coordinates -->
    <app-map-thumb *ngIf="shouldRenderComponent('map-thumb', pred)">
    </app-map-thumb>

    <ng-container>
      <div *ngFor="let objValue of objValuesToShow">
        <div class="mt-1" *ngIf="shouldRenderComponent('node-type', pred)">
          <app-node-type [typeId]="objValue"> </app-node-type>
        </div>

        <app-hop-link
          *ngIf="shouldRenderComponent('hop-link', pred)"
          [id]="objValue"
          [hopPreds]="
            renderComponent.getSettingByKey(
              'hopPreds',
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        />

        <app-node-link
          [url]="objValue"
          *ngIf="
            !renderComponent.isDefined(
              node,
              RenderMode.ByPredicate,
              [pred],
              direction
            )
          "
        >
          <ng-icon
            [svg]="featherArrowUpLeft"
            class="opacity-40"
            *ngIf="isIncoming"
          />
        </app-node-link>
      </div>

      <button
        class="btn btn-xs mt-2"
        (click)="loadMoreObjValues()"
        *ngIf="numObjValuesNotShown > 0"
      >
        {{ showMoreLabel }}
      </button>
    </ng-container>
  </ng-container>
</ng-container>
