<div class="p-8 flex flex-col-reverse sm:flex-row sm:gap-8 overflow-y-auto">
  <div class="sm:w-1/2">
    <p class="!mb-0">Prototype zoekomgeving</p>
    <h1>Kasteel Amerongen</h1>
    <p>
      Ontdek de geschiedenis van Kasteel Amerongen via deze experimentele Linked
      Open Data zoekomgeving.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut earum
      esse excepturi explicabo harum perspiciatis sit sunt vero voluptates! Ab
      distinctio harum nobis perspiciatis sequi soluta ullam, unde. Officiis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur
      autem culpa exercitationem fugiat iusto nostrum obcaecati omnis quibusdam
      quos. Accusantium dolorem ducimus eos modi possimus quidem quo,
      reprehenderit sapiente?
    </p>
    <!--    <p>-->
    <!--      <button class="underline" (click)="router.navigateByUrl('colofon')">-->
    <!--        Lees meer-->
    <!--      </button>-->
    <!--    </p>-->
  </div>

  <div class="mb-4 sm:w-1/2 sm:mt-10 sm:mb-0">
    <img
      src="assets/img/X139622%20-%206989%201.png"
      alt="Foto van Kasteel Amerongen"
      class="mx-auto"
    />
  </div>
</div>
