<div class="p-8 flex flex-col-reverse sm:flex-row sm:gap-8 overflow-y-auto">
  <div class="sm:w-[80%] mx-auto">
    <h1 class="text-center text-2xl sm:text-5xl mb-0 sm:mb-6 font-bold">
      {{ "discover-history-of" | translate }}
      <span
        class="text-primary"
        [innerHTML]="translate.get('castle-amerongen') | async"
      ></span>
      <span>&nbsp;</span>
      <span [innerHTML]="translate.get('on-experimental-lod-website') | async">
      </span>
    </h1>

    <!--    <p>-->
    <!--      <button class="underline" (click)="router.navigateByUrl('colofon')">-->
    <!--        Lees meer-->
    <!--      </button>-->
    <!--    </p>-->
  </div>

  <!--  <div class="mb-4 sm:w-1/2 sm:mt-10 sm:mb-0">-->
  <!--    <img-->
  <!--      src="assets/img/X139622%20-%206989%201.png"-->
  <!--      alt="Foto van Kasteel Amerongen"-->
  <!--      class="mx-auto"-->
  <!--    />-->
  <!--  </div>-->
</div>
