<app-node-table [node]="node" [visibility]="PredicateVisibility.Show" />

<button
  class="text-xs mt-4 clickable"
  (click)="showingDetails = !showingDetails"
  *ngIf="
    getNumOfPreds(PredicateVisibility.Details) > 0 &&
    settings.getViewModeSetting(ViewModeSetting.ShowDetails)
  "
>
  <ng-icon
    [svg]="showingDetails ? featherChevronUp : featherChevronDown"
    class="relative top-[0.1rem]"
  />
  <!--  TODO: Add translation -->
  {{ showingDetails ? "Verberg details" : "Toon details" }}
</button>

<app-node-table
  [node]="node"
  [smallFontSize]="true"
  [visibility]="PredicateVisibility.Details"
  *ngIf="
    showingDetails &&
    getNumOfPreds(PredicateVisibility.Details) > 0 &&
    settings.getViewModeSetting(ViewModeSetting.ShowDetails)
  "
/>
