<app-node-table [node]="node" [visibility]="PredicateVisibility.Show" />

<button
  class="text-xs mt-4 clickable"
  (click)="showingDetails = !showingDetails"
  *ngIf="numOfDetailsPreds > 0 && canShowDetails"
>
  <ng-icon
    [svg]="showingDetails ? featherChevronUp : featherChevronDown"
    class="relative top-[0.1rem]"
  />
  <!--  TODO: Add translation -->
  {{ showingDetails ? "Verberg details" : "Toon details" }}
</button>

<app-node-table
  [node]="node"
  [visibility]="PredicateVisibility.Details"
  *ngIf="showingDetails && numOfDetailsPreds > 0 && canShowDetails"
/>
