<app-node-table [node]="node" [visibility]="PredicateVisibility.AlwaysShow" />

<button
  class="text-xs mt-4"
  (click)="showingDetails = !showingDetails"
  *ngIf="
    getNumOfVisiblePreds(PredicateVisibility.ShowInDetailView) > 0 &&
    settings.getViewModeSetting(ViewModeSetting.ShowDetails)
  "
>
  <ng-icon
    [name]="showingDetails ? 'featherChevronUp' : 'featherChevronDown'"
    class="relative top-[0.1rem]"
  />
  <!--  TODO: Add translation -->
  {{ showingDetails ? "Hide details" : "Show details" }}
</button>

<app-node-table
  [node]="node"
  [visibility]="PredicateVisibility.ShowInDetailView"
  [smallFontSize]="true"
  *ngIf="showingDetails"
/>
