<table class="table" *ngIf="node">
  <tbody>
    <ng-container *ngFor="let nodeItem of node | keyvalue">
      <tr *ngIf="!Settings.hidePredicates.includes(nodeItem.key)">
        <td>
          <ng-icon
            name="featherCornerDownRight"
            *ngIf="nodeItem.value.direction === Direction.Outgoing"
            class="opacity-40"
          />
          <ng-icon
            name="featherCornerDownLeft"
            *ngIf="nodeItem.value.direction === Direction.Incoming"
            class="opacity-40"
          />

          <app-node-link
            [url]="nodeItem.key"
            [label]="replacePrefixes(nodeItem.key)"
          />
        </td>
        <td>
          <div *ngFor="let value of nodeObjAsArray(nodeItem.value)">
            <app-node-link [url]="value" [label]="replacePrefixes(value)" />
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
