<table class="table" *ngIf="node">
  <tbody>
    <ng-container *ngFor="let pred of Object.keys(node)">
      <ng-container *ngFor="let obj of node[pred]">
        <tr *ngIf="getVisibility(pred) === PredicateVisibility.AlwaysShow">
          <td class="w-1/2">
            <!--          <ng-icon-->
            <!--            name="featherArrowRight"-->
            <!--            *ngIf="nodeItem.value.direction === Direction.Outgoing"-->
            <!--            class="opacity-40"-->
            <!--          />-->

            <ng-icon
              name="featherArrowLeft"
              *ngIf="obj.direction === Direction.Incoming"
              class="opacity-40"
            />

            <app-node-link [url]="pred" />
          </td>
          <td class="w-1/2">
            <app-node-link [url]="obj.value" />
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<button
  class="text-xs mt-4"
  (click)="showingDetails = !showingDetails"
  *ngIf="getNumOfVisiblePreds(PredicateVisibility.ShowInDetailView) > 0"
>
  <ng-icon
    [name]="showingDetails ? 'featherChevronUp' : 'featherChevronDown'"
    class="relative top-[0.1rem]"
  />
  <!--  TODO: Add translation -->
  {{ showingDetails ? "Hide details" : "Show details" }}
</button>

<!-- TODO: Refactor into re-usable table component -->
<table class="table text-xs opacity-70" *ngIf="node && showingDetails">
  <tbody>
    <ng-container *ngFor="let pred of Object.keys(node)">
      <ng-container *ngFor="let obj of node[pred]">
        <tr
          *ngIf="getVisibility(pred) === PredicateVisibility.ShowInDetailView"
        >
          <td class="w-1/2">
            <!--          <ng-icon-->
            <!--            name="featherArrowRight"-->
            <!--            *ngIf="nodeItem.value.direction === Direction.Outgoing"-->
            <!--            class="opacity-40"-->
            <!--          />-->

            <ng-icon
              name="featherArrowLeft"
              *ngIf="obj.direction === Direction.Incoming"
              class="opacity-40"
            />

            <app-node-link [url]="pred" />
          </td>
          <td class="w-1/2">
            <app-node-link [url]="obj.value" />
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
