@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme, see tailwind.config.js for remaining tweaks */
*,
::before,
::after {
  //border: none;
  border-color: theme("colors.primary");
}

.input-bordered {
  border-color: theme("colors.primary");
  outline: none !important;

  &:focus-within {
    border-color: theme("colors.primary");
  }
}

/* Other */

@layer base {
  //.clickable {
  //  @apply underline decoration-slate-300 cursor-pointer;
  //}
}

.float-ui-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
  max-width: 300px !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
