@tailwind base;
@tailwind components;
@tailwind utilities;

// Hide scrollbar (e.g., in horizontally scrolling collapsed tree view)
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
