@tailwind base;

/* == See tailwind.config.js for remaining theme tweaks (e.g., changing primary color) == */

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Add underlines to clickable items
@layer base {
  .clickable {
    @apply underline decoration-slate-300 cursor-pointer;
  }
}

// Style link click popups
.float-ui-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
  max-width: 300px !important;
}

// Style badge
.badge-md {
  height: 1.5rem;
}
.badge {
  @apply rounded-full;
  @apply font-mono;
}

// Tweak filter box heights
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  padding: 0.25rem 1rem;
  min-height: 0.5rem;
}
.collapse-arrow > .collapse-title::after {
  top: 1rem;
}

// Style table
tr {
  border: none;
}
.table :where(th, td) {
  padding: 0.25rem 0;
}

// Style checkbox
.checkbox {
  @apply border-white;
  --chkbg: white;
  --chkfg: theme("colors.primary");
  //&.checked {
  //  @apply border-white;
  //}
}

// Remove borders
.border {
  border: none;
}

// Update colors based on tailwind.config.js configuration
*,
::before,
::after {
  //border: none;
  border-color: theme("colors.primary");
}

.input-bordered {
  //border-color: theme("colors.primary");
  border: none;
  outline: none !important;

  &:focus-within {
    //border-color: theme("colors.primary");
    border: none;
  }
}
