<div
  class="flex flex-col gap-1 mb-4"
  [ngClass]="[
    settings.showingFilterPanelOnSide() ? 'lg:gap-1' : 'lg:flex-row lg:gap-2'
  ]"
  *ngIf="filters.options.value"
>
  <!--  <p>Filter op:</p>-->
  <ng-container *ngFor="let filterId of Object.keys(filters.options.value)">
    <div class="w-full sm:flex-1" *ngIf="filters.shouldShow(filterId)">
      <div class="collapse collapse-arrow bg-primary text-white border">
        <input
          type="checkbox"
          name="filter-accordion"
          [(ngModel)]="ui.accordionExpandedStates[filterId]"
        />
        <div class="collapse-title">
          <span>
            {{ filters.getOptionById(filterId).label }}
          </span>
          <app-filter-count
            [count]="
              filters.getOptionEnabledFiltersCount(
                filterId,
                FilterType.FieldAndValue
              )
            "
          />
        </div>

        <div
          class="collapse-content max-h-64 overflow-y-scroll overflow-x-hidden"
        >
          <app-filter-option
            [filterId]="filterId"
            [values]="filters.getOptionById(filterId).values"
            [fieldIds]="filters.getOptionById(filterId).fieldIds"
          />
        </div>
      </div>
    </div>
  </ng-container>

  <div class="w-full lg:w-auto" *ngIf="Settings.filtering.showImageFilter">
    <app-image-filter />
  </div>

  <div
    class="w-full lg:w-auto"
    *ngIf="Settings.filtering.showOrganizationsFilter"
  >
    <app-endpoints />
  </div>
</div>
