<ng-container *ngIf="filters.options.value">
  <div class="join join-vertical w-full mb-4">
    <ng-container *ngFor="let filterId of Object.keys(filters.options.value)">
      <div
        class="collapse collapse-arrow join-item bg-base-100 border"
        *ngIf="filters.getOptionValueIds(filterId).length > 0"
      >
        <input type="checkbox" name="filter-accordion" />
        <div class="collapse-title font-medium">
          <span>{{ filters.getOptionById(filterId).label }}</span>
          <app-filter-count
            [count]="
              filters.getOptionEnabledFiltersCount(
                filterId,
                FilterType.FieldAndValue
              )
            "
          />
        </div>

        <div
          class="collapse-content max-h-64 overflow-y-scroll overflow-x-hidden"
        >
          <app-filter-option
            [filterId]="filterId"
            [values]="filters.getOptionById(filterId).values"
            [fieldIds]="filters.getOptionById(filterId).fieldIds"
          />
        </div>
      </div>
    </ng-container>

    <app-endpoints />
  </div>
</ng-container>
